<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>1.ServletContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Form1</display-name>
    <servlet-name>Form1</servlet-name>
    <servlet-class>Form1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form1</servlet-name>
    <url-pattern>/Form1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form2</display-name>
    <servlet-name>Form2</servlet-name>
    <servlet-class>Form2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form2</servlet-name>
    <url-pattern>/Form2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form3</display-name>
    <servlet-name>Form3</servlet-name>
    <servlet-class>Form3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form3</servlet-name>
    <url-pattern>/Form3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form4</display-name>
    <servlet-name>Form4</servlet-name>
    <servlet-class>Form4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form4</servlet-name>
    <url-pattern>/Form4</url-pattern>
  </servlet-mapping>
</web-app>